name: Prod Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      - name: Service stop
        run: systemctl stop req-scrap.service

      - name: Install dependencies
        run: npm install

      - name: Environment setup
        run: cp /root/.env.req-scrap /root/actions-runner/_work/req-scrap/req-scrap/.env

      - name: Run tests (optional)
        run: npm test

      - name: Service start
        run: systemctl start req-scrap.service
        

