name: Prod Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23.x'

      - name: Service stop
        run: systemctl stop scrapereq.service

      - name: Install dependencies
        run: npm install

      - name: Environment setup
        run: cp /root/.env.scrapereq /root/actions-runner/_work/scrapereq/scrapereq/.env

      - name: Service start
        run: systemctl start scrapereq.service
